<!DOCTYPE html>
<html>
<head>
  <title>Email Verification</title>
</head>
<body>
  <h2 style = "color:red;text-align:center;">Email Verification</h2>
  <hr style = "opacity:0.6;"></hr>
  <div>
    To verify your email-Id please click this   (<a href = 'http://localhost:3000/register/{{token}}' ><strong>{{token}}</strong></a>).
  </div>
  <script>
    
  </script>
</body>
</html>


