<!DOCTYPE html>
<html>
<head>
  <title>Email Verification</title>
</head>
<body>
  <h2 style = "color:red;text-align:center;">Email Verification</h2>
  <hr style = "opacity:0.6;"></hr>
  <div>
    To verify your email-Id please click this (<a href = "http://localhost:5000/api/students/getVerificationResult/{{token}}"><strong>{{token}}</strong></a>).
  </div>
</body>
</html>


