.toolbar {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  height: 6rem;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
  z-index: 2;
}

.toolbar__logo {
  margin-left: 1rem;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 5;
  opacity: 1;
}

.spacer {
  flex: 1;
}

.logo-text {
  font-family: "Just Another Hand", cursive;
  font-size: 2rem;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 1rem;
}

.toolbar_navigation-items a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #df42b1;
}

.special-button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
}

.special-button:hover {
  color: black;
}

.arrow-left {
  margin-right: 5px;
}

.arrow-right {
  margin-left: 5px;
}

.fa {
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1023px) {
  .toolbar_navigation-items {
    display: none;
  }
  .spacer2 {
    flex: 1;
  }
}

@media (min-width: 1023px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 3rem;
  }
}
#onReg:hover {
  background: white;
  color: black;
}
#onReg {
  transition-delay: 0.1s;
}
