.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    z-index: 300;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 2px;
    background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
    z-index: 300;
    transition: all 0.3s ease;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px) ;
   
}

.toggle .line2{
    opacity:0;
}

.toggle .line3{
    transform:rotate(45deg) translate(-5px, -6px) ;
    
}