.side-drawer {
  height: 100%;
  background: rgb(5, 5, 5);
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.side-drawer li {
  margin: 0.5rem 0rem;
}

.side-drawer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #df42b1;
}

.special-button__mobile {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  margin-left: -1rem;
}

@media (min-width: 1023px) {
  .side-drawer {
    display: none;
  }
}

#onReg:hover {
  background: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  /* color: black; */
}
#onReg {
  transition-delay: 0.1s;
}

.link-tab li {
  opacity: 0;
}

@keyframes linkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

