<!DOCTYPE html>
<html>
<head>
  <title>Reset your password</title>
</head>
<body>
  <h2 style = "color:red;text-align:center;">Reset Password</h2>
  <hr style = "opacity:0.6;"></hr>
  <div>
    To change or update your password <a href = "localhost:5000/resetPassword">Click here</a>
  </div>
  
</body>
</html>


